@import 'variable';
@import 'mixin';


.chatbotLogo {
position: absolute;
bottom: 5vh;
right: 2vw;
@include flex-center;
flex-direction: column;
align-items: flex-end;

      .chatBubble {
            width: 20vw;
            margin-top: 0.4rem;
            padding: 1rem;
            box-shadow: 0 5px 20px $shadow-before;
            transition: all 0.2s;
            
            &:hover {
            box-shadow: 0 5px 20px $shadow-after;
            }
            
            &_closeBtn {
            background-color: $close-btn-bg;
            @include border-radius(50%);
            cursor: pointer;
            }
      }
      
      .chatbot_display {
            @include flex-center;
            @include border-radius(50%);
            margin-top: 0.4rem;
            background-color: $theme-color;
            cursor: pointer;
            padding: 1rem;
      }
}
