@import 'variable';
@import 'mixin';

body {
font-family: 'Roboto', sans-serif;
background-color: $primary-bg-color;
}

.main_container {
min-width: 100vw;
min-height: 100vh;
}

.chatbotContainer.active{
display: flex;
bottom: 10%;
}

.hide{
display: none;
}

.incoming {
background-color: $theme-color;
color: $primary-bg-color;
@include border-radius(10px 10px 10px 0);
justify-content: center;
align-self: flex-start;
}

.outgoing{
background-color: $secondary-color;
border-radius: 10px 10px 0 10px;
justify-content: center;
align-self: flex-end;
}

.getBtn{
      padding: .2rem;
      margin: .1rem;
      border: 0 !important;
      outline: 0 !important;
      cursor: pointer;
      @include border-radius(5px);
}