$primary-bg-color: white;
$secondary-color: rgb(163, 229, 255);
$border-color: black;
$theme-color: royalblue;
$button-color: orangered;
$header-border-color: rgba(0,0,0,0.1);
$close-btn-bg: #f0f0f0;
$shadow-before: rgba(0, 0, 0, 0.2);
$shadow-after: rgba(0, 0, 0, 0.4);
